@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Về chúng tôi";
    ViewData["About"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="home" asp-action="index">
                        <i class="fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                    <span>Về chúng tôi</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="blog__details__item">
                        <img src="../img/blog/details/blog-details.jpg" alt="">
                        <div class="blog__details__item__title">
                            <span class="tip"></span>
                            <h4>Về chúng tôi</h4>
                        </div>
                    </div>
                    <div class="blog__details__desc">
                        <p>
                            The Coffee House (hay còn gọi là “Nhà”) là chuỗi cửa hàng cà phê hàng đầu tại Việt Nam, được thành lập vào năm 2014 bởi ông Nguyễn Hải Ninh. Với sứ mệnh trở thành nơi mọi người xích lại gần nhau, The Coffee House đề cao giá trị kết nối con người và sẻ chia thân tình bên những tách cà phê, ly trà đượm hương.
                        </p>
                        <p>
                            Chúng tôi tin rằng mỗi nụ cười là một câu chuyện, và “Nhà” là nơi lưu giữ tất cả những khoảnh khắc ấy. Từ những ly cà phê đậm đà, những tách trà thanh mát, đến từng lời chào thân quen, chúng tôi mong mỗi vị khách khi ghé Nhà đều mang theo một niềm vui nhỏ để nụ cười ấy được lan toả khắp nơi.
                        </p>
                        <p>
                            Mọi sản phẩm của The Coffee House đều bắt nguồn từ những hạt cà phê và lá trà chất lượng. Những hạt cà phê được chọn lựa kỹ lưỡng từ cao nguyên nắng gió, được rang xay cẩn trọng để giữ trọn hương vị nguyên bản—đậm đà, tinh tế và thật lòng. Đối với trà, chúng tôi tìm thấy nguồn cảm hứng từ những đồi trà xanh mướt, nơi từng búp trà được nâng niu, chọn lọc từ những người trồng gửi gắm cả tấm lòng.
                        </p>
                        <p>
                            Ngoài những loại cà phê truyền thống như Cà Phê Đen, Cà Phê Sữa Đá, The Coffee House còn sáng tạo và phát triển nhiều dòng sản phẩm mới lạ, mang tính kết nối cao như Trà Đào Cam Sả, các dòng Cà phê Ý (Latte, Cappuccino), hoặc các thức uống độc đáo theo mùa. Chúng tôi luôn nỗ lực tạo ra những không gian thoải mái, đầy cảm hứng, nơi bạn có thể làm việc, gặp gỡ bạn bè hay chỉ đơn giản là tận hưởng một mình.
                        </p>
                        <p>
                            Hãy ghé thăm “Nhà” để cùng chúng tôi lan tỏa những niềm vui nhỏ và tận hưởng những khoảnh khắc tuyệt vời.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>